@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  gap: 10px;
  width: 90vw;
  height: 90vh;
}

.card {
  position: relative;

  border-radius: 40px;
  color: white;
  cursor: pointer;
  flex: 1 1 auto;
  transition: flex 0.7s ease-in;

  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: no-repeat center/cover;
  overflow: hidden;
}

.card.card-active {
  flex: 6;
}

.card h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-transform: capitalize;
  opacity: 0;
}

.card.card-active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}

@media screen and (max-width: 480px) {
  .card:nth-last-of-type(1),
  .card:nth-last-of-type(2) {
    display: none;
  }
}

.card-1 {
  background: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.card-2 {
  background: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.card-3 {
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
}

.card-4 {
  background: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
}

.card-5 {
  background: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
